.product_carousel_image {
    max-width: 100%;
    object-fit: cover;
    max-height: 500px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    display: none !important;
}

.dashboard-product-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
}